{{#if media.isMobile}}
<div class="container">
  <div class="collection with-header z-depth-2 hide-on-large-only">
    {{#each model as |list|}}
      {{#link-to "list" list class="collection-item avatar waves-effect waves-light" data-card-id=list.id}}
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150" alt="" data-image-id={{list.id}} class="circle">
        <span class="title">{{list.name}}</span>
        <p>{{list.description}}</p>
      {{/link-to}}
    {{else}}
      <div class="valign-wrapper" style="height: 400px;">
        <h5 class="valign">You have no list</h5>
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
{{!-- Tablet --}}
{{#if media.isTablet}}

{{/if}}
{{!-- Desktop --}}
{{#if media.isDesktop}}
  <div class="row">
    {{#each model as |list|}}
      <div class="col m4 l3">
        <div class="card hoverable">
          <div class="card-image truncate">
            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
            <span class="card-title">{{list.name}}</span>
          </div>
          <div class="card-action">
          {{#link-to "list" list class="waves-effect waves-light"}}
            View
          {{/link-to}}
          </div>
        </div>
      </div>
    {{else}}
      <div>
        You have no list.
      </div>
    {{/each}}
  </div>
{{/if}}
