{{#if media.isMobile}}
<div class="container">
  <div class="collection with-header z-depth-2 hide-on-large-only">
    {{#each model as |list|}}
      <a href="#" class="collection-item avatar waves-effect waves-light">
        <img src="http://boonconic.com/content/images/2014/Feb/C_nim.gif" alt="" class="circle">
        <span class="title truncate">{{list.name}}</span>
        <p>{{list.description}}
        </p>
      </a>
    {{else}}
      <div class="valign-wrapper" style="height: 400px;">
        <h5 class="valign">You have no list</h5>
      </div>
    {{/each}}
  </div>
</div>
{{/if}}
{{!-- Tablet --}}
{{#if media.isTablet}}

{{/if}}
{{!-- Desktop --}}
{{#if media.isDesktop}}
  <div class="row">
    {{#each model as |list|}}
      <div class="col m4 l3">
        <div class="card hoverable">
          <div class="card-image">
            <img src="http://boonconic.com/content/images/2014/Feb/C_nim.gif">
            <span class="card-title truncate">{{list.name}}</span>
          </div>
          <div class="card-content">
            <p>{{list.description}}</p>
          </div>
          <div class="card-action">
            <a href="#" class="waves-effect waves-light">View</a>
          </div>
        </div>
      </div>
    {{else}}
      <div>
        You have no list.
      </div>
    {{/each}}
  </div>
{{/if}}
<div class="row">
  {{md-btn text="New List"
    action='goToNew'
    class='float-btn'}}
</div>
