<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{input value=model.name}}
{{textarea value=model.description}}
<p>{{model.name}}</p>
<p>{{model.description}}</p>
<button {{action "save"}}>Save</button>


{{#each model as |list|}}
  {{list.name}}
{{/each}}
